<div class="container">
      <section id="explanation" class="width-two-thirds">

          <h3>About this Site</h3>
          <p>
           This data provides a window into how people are interacting with the government online. The data comes from a unified Google Analytics account for City & County of San Francisco web pages created by San Francisco Digital Service & Products Team . This program helps government agencies understand how people find, access, and use government services online. The program does not track individuals, and anonymizes the IP addresses of visitors. 
          </p>

          <p>
         Not every City & County of San Francisco website is represented in this data. Currently, the San Francisco Digital Service & Products Team collects web statistics from around 50+ City & County of San Francisco websites including many agencies, departments, offices.
          </p>

          <p>This open source project uses the Analytics Reporter code developed by <a href="https://18f.gsa.gov/" class="external-link">18F's</a>, and is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/18F/analytics.usa.gov" class="external-link">code for this website</a> and the <a href="https://github.com/18F/analytics-reporter" class="external-link">code behind the data collection</a> on GitHub. 
          </p>
          <p>
            If you have any suggestions, please contact the <a href="mailto:webmaster@sfgov.org">San Francisco Digital Service & Products Team.</a> 
         </p>

      </section>
     <section class="width-one-third">
        <h3>Download the data</h3>
        <p>You can <a href="/data/">download the data here.</a> Available in JSON and CSV format.</p>
      </section>     
</div>
