
      <section id="explanation" class="width-two-thirds bportalfooter">

          <h3>About this Site</h3>
          <p>This project uses the Digital Analytics Program code developed by <a href="https://18f.gsa.gov/" class="external-link">18F's</a>. We acknowledge and are grateful to 18F for open-sourcing this work.</p>

          <p>This data comes from an unified Google Analytics account for City & County of San Francisco web pages, created by the SF Digital Service & Products Team, offers important insights around how people are interacting with local government online. This dashboard serves to help government agencies understand how people find, access, and use city-services online. It does not track individuals and anonymizes the IP addresses of visitors.</p>

          <p>The vast majority of City & County of San Francisco websites are represented in this data, as the San Francisco Digital Service & Products Team currently collects web statistics from 100+ City websites, across multiple agencies, departments, and offices.</p>
          
          <p>If you have any suggestions, please contact the <a href="mailto:digitalservice@sfgov.org">San Francisco Digital Service & Products Team.</a></p>

          <p>As part of the public domain, the original <a href=http://analytics.usa.gov/>analytics.usa.gov</a> website and its content available without cost or restriction. You can find the <a href="https://github.com/18F/analytics.usa.gov" class="external-link">code for theanalytics.usa.gov website</a> and the <a href="https://github.com/18F/analytics-reporter" class="external-link">code for 18F's Analytics Reporter for data collection</a> on GitHub. </p>
      </section>
      
     <section class="width-one-third bportalfooter">
        <h3>Download the Data</h3>
        <p>You can <a href="/data/">download the data here.</a> Available in JSON and CSV format.</p>
        
        <p>You can also find <a href="https://data.sfgov.org/City-Infrastructure/Web-Analytics-for-SFGov-sites-2016-Q1-Q2-Q3-/iy4m-quhy">analytics data sets on SF Open Data.</a></p>

      </section>  


