<!DOCTYPE html>
<html lang="en">
  <!-- Initalize title and data source variables -->
  {% if page.url == '/' or page.url == '/data/' %}
    {% assign page_title = '' %}
  {% else %}
    {% capture page_title %} - {{ page.name }}{% endcapture %}
  {% endif %}
  {% include head.html %}

  <body>
    <header>
        <div class="inner clearfix">
        <div id="name-and-slogan">
            <a href="http://analytics.sfgov.org"><h1>SFGov Analytics</h1><img src="images/SFanalytics_font.png"></a>          
        </div>
            <ul class="links">
              <li><a href="#explanation">About <span class="sm-hide">this Site</span></a></li>
            <!--  <li><a href="/sfgov-data">Data</a></li> -->
            </ul>
            {% comment %}
            {% assign agencies = site.agencies | sort:"name"  %}
            {% if agencies.size > 0 %}
              {% unless page.url contains 'data' %}
                <div class="agency-selector-wrap">
                  <form>
                    <label for="agency-selector">Select an agency</label>
                    <select name="agency-selector" id="agency-selector" title="Agency Selection Dropdown">
                      <option value="{{site.baseurl}}/">{{site.dropdown_title}}</option>
                      {% for agency in agencies %}
                        <option value="{{site.baseurl}}{{agency.url}}">{{agency.name}}</option>
                      {% endfor %}
                    </select>
                  </form>
                </div>
              {% endunless %}
            {% endif %}
            {% endcomment %}
        </div>
    </header>
    <div class="container">

      {{ content }}

    </div>
    <table class="bportalfooter"><tr><td>
    {% include footer.html %}
    </td></tr></table>
  </body>

  {% include footer_scripts.html %}

</html>
